<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Checker App</title> <!-- Updated title here -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 flex flex-col items-center justify-center min-h-screen p-6">
    <div class="bg-white just p-8 rounded-lg shadow-lg max-w-lg w-full">
        <h1 class="text-3xl font-bold mb-6 text-gray-800 text-center">News Checker App</h1> <!-- Added app title here -->
        <h2 class="text-2xl font-bold mb-6 text-gray-800">Enter Article URL or Text</h2>
        <form action="/predict/" method="post" class="space-y-6">
            {% csrf_token %}
            <div>
                <label for="url" class="block text-sm font-medium text-gray-700">Article URL</label>
                <input type="text" name="url" id="url" class="w-full p-2 border border-gray-300 rounded mt-1" placeholder="https://example.com">
            </div>
            <div class="flex justify-center items-center w-full">
                <div class="w-full border-t border-gray-300"></div>
                <span class="p-2 text-gray-400 bg-white">OR</span>
                <div class="w-full border-t border-gray-300"></div>
            </div>
            <div>
                <label for="text" class="block text-sm font-medium text-gray-700">Article Text</label>
                <textarea name="text" id="text" rows="6" class="w-full p-2 border border-gray-300 rounded mt-1" placeholder="Paste the article text here"></textarea>
            </div>
            <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded hover:bg-blue-600">Check Authenticity</button>
        </form>
        {% if error %}
        <div class="text-red-500 mt-2">
            {{ error }}
        </div>
        {% endif %}
    </div>

    <!-- Example Articles Section -->
    <div class="mt-8">
        <h3 class="text-xl font-bold mb-4 text-gray-800">Example Articles</h3>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            {% for article in example_articles %}
            <div class="bg-white p-4 rounded-lg shadow cursor-pointer" onclick="setArticleURL('{{ article.url }}')">
                <img src="{{ article.image }}" alt="{{ article.title }}" class="w-full h-48 object-cover rounded-md mb-4">
                <h4 class="text-lg font-bold mb-2">{{ article.title }}</h4>
                <p class="text-blue-500 hover:text-blue-600">Read Article</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <script>
        function setArticleURL(url) {
            document.getElementById('url').value = url;
        }
    </script>
</body>
</html>